body {
  padding-top: 30px;
  padding-bottom: 60px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.col-md-3, .col-md-4, .col-md-6{
    height: 800px;
}

.btn-lg{
	height:50px;
	font-size:20px;
}

/*.glyphicon{
	padding-left:10px;
	width:30px;
}*/

.remove{
	float:right;
	width:120px;
		
}

.get_data{
	padding-top:10px;
		
}

#time_series_title{
	height:150px;
	padding:20px;
	margin:10px;
}

.subdomain-text{
	font-size:15px;
}

#caption{
	height: 100px;	
}

.cal-heatmap-container{
	padding:5px;
}

.list-group{
	height: 645px;
	overflow: scroll;
}



