body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#right_panel{
	overflow: scroll;
    height: 797px;
}

.btn-lg{
	height:50px;
	font-size:20px;
}

/*.glyphicon{
	padding-left:10px;
	width:30px;
}*/

.remove{
	float:right;
	width:120px;
		
}

.get_data{
	padding-top:10px;
		
}

